* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: darkblue;
    color: white;
    min-height: 100px;
    padding:10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:75px;
    text-align: center;
    background-color:lightgray;
    padding:10px;
}

nav a {
    margin-right: 15px;
}

a:hover {
   font-weight:bold;
   color:darkred;
  }

main {
    background-color: white;
    float: left;
    min-height:600px;
    text-align:center;
}

aside {
    display: block;
    float: right;
    color: darkblue;
    background-color: lightgray;
    padding: 10px;
    min-height:500px;
}

.flag {
    border: 2px solid black;
    max-width:200px;
    height:auto;
    position: bottom;
}

#footer {
    background-color: darkblue;
    color: white;
}